*{
    margin: 0;
    box-sizing: border-box;
}

.col-md-4{
    margin: auto;
    display: flex;
    justify-content: center;
}
.card{
    box-shadow: 0 4px 10px black !important;
    margin: 15px;
}

.card:hover{
    transform:scale(1.1);
    transition: .5s;
    cursor:pointer;
}